.leftSide{
	width: 250px;
	position: relative;
	float: left;
	border-radius: 20px;
}

.rightSide{
	position: relative;
	float: left;
	width: auto;
	border-radius: 20px;
	width: 55%;
	padding: 20px;
	box-shadow: 7px 7px 7px 7px;
}
img{
	position: relative;
	width: 200px;
	height: 150px;
}
li img{
	width: 30px;
	height: 20px;
}
ul{
	list-style-type: none;
}
li{
	display: inline;
}
.content{
	width: 90%;
	margin: auto;
	padding: auto;
}