.leftSide{
	position: relative;
	float: left;
	padding: 2%;
	margin:1%;
	border-radius: 20px;
	height: 100%;
}

.rightSide{
	position: relative;
	float: left;
	width: auto;
	background: #aaa;
	border-radius: 20px;
	padding: 20px;
}
img{
	position: relative;
	width: 300px;
	height: 200px;
}
li img{
	width: 30px;
	height: 20px;
}
ul{
	list-style-type: none;
}
li{
	display: inline;
}
table{
	border:solid;
}