.description{
	height: 96%;
	width: 96%;
	padding: 2%;
}
.description p{
	opacity: 1;
}
.left, .right{
	position: relative;
	width: 46%;
	margin: 1%;
	float: left;
	background: yellow;
	border-radius: 20px;
	padding: 1%;
	height: 100%;
}
.row{
	height: 100%;
}
h3{
	text-align: center;
}
.html{
	background-image :url("../slike/stickyNote4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.css{
	background-image :url("../slike/stickyNote4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.javascript{
	background-image :url("../slike/stickyNote4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.php{
	background-image :url("../slike/stickyNote4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}