ul{
	list-style-type: none;
}
li{
	display: block;
	margin: 2px;
}
/*li:hover{
	background: white;
}*/
.vezbe li a{
	text-decoration: none;
	color: black;
	padding: 5px;
	position: relative;
	float:left;
	width: 100px;
	text-align: center;
}
#opisSelektovaneVezbe{
	width: 100%;
	position: relative;
	float: center;
	margin: auto;
	text-align: center;
}