.content{
	width: 90%;
	margin: 5%;
	border-radius: 20px;
	padding: 5px;
}
h1,p{
	text-align: center;
}
img{
	width: 50px;
	height: 50px;
	display: inline;
}
.allPages{
	text-align: center;
	width: 30px;
	height: 20px;
	display: inline-block;
	background: white;
	position: relative;
	margin: 1px;
}

.currentPage{
	background: gray;

}
#stranice {
	position: relative;
	width: 30%;
	margin: auto;

}
#stranice a{
	position: relative;
	margin: 0px;
	text-decoration: none;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 2.67px;
}
#students{
	position: relative;
	width: 30%;
	margin: auto;
}
#students a{
	position: relative;
	display: inline-block;
}
#strelice{
	position: relative;
	width: 30%;
	margin: auto;
	padding: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*#stranice a:hover{
	background: transparent;
}*/
